<section class="basic">
    <div class="look">
        <canvas class="preview"></canvas>

        <div class="outfit">
            <button class="previous">⊲</button>
            <span class="selected"></span>
            <button class="next">⊳</button>
        </div>

        <div class="mount">
            <button class="previous">⊲</button>
            <span class="selected"></span>
            <button class="next">⊳</button>
        </div>

        <div class="outfit-options">
            <div class="addons">
                <input type="checkbox"/> Addon 1
                <input type="checkbox"/> Addon 2
            </div>
            <div class="gender">
                <input type="checkbox"/> Female
                <input type="checkbox"/> Male
            </div>
        </div>

        <div class="colors">
            <div class="color-position">
                <button>Head</button>
                <button>Primary</button>
                <button>Secondary</button>
                <button>Detail</button>
            </div>

            <div class="color-grid">
                <!-- Fill with colors -->
            </div>
        </div>
    </div>
</section>