<section class="basic">
    <div class="look">
        <canvas class="preview"></canvas>

        <div class="outfit">
            <button class="previous">⊲</button>
            <span class="selected"></span>
            <button class="next">⊳</button>
        </div>

        <div class="mount">
            <button class="previous">⊲</button>
            <span class="selected"></span>
            <button class="next">⊳</button>
        </div>

        <div class="outfit-options">
            <div class="addons">
                <input type="checkbox"/> Addon 1
                <input type="checkbox"/> Addon 2
            </div>
            <div class="gender">
                <input type="checkbox"/> Female
                <input type="checkbox"/> Male
            </div>
        </div>

        <div class="colors">
            <div class="color-position">
                <button>Head</button>
                <button>Primary</button>
                <button>Secondary</button>
                <button>Detail</button>
            </div>

            <div class="color-grid">
                <!-- Fill with colors -->
            </div>
        </div>
    </div>

    <div class="details">
        <label for="name">
            Name
        </label>
        <input type="text" id="name"/>

        <label for="luafile">
            Lua file path
        </label>
        <input type="text" id="luafile"/>

        <label for="health">
            Current health
        </label>
        <input type="text" id="health"/>

        <label for="maxhealth">
            Max health
        </label>
        <input type="text" id="maxhealth"/>

        <label for="walkinterval">
            Walk interval
        </label>
        <input type="text" id="walkinterval"/>

        <label for="walkradius">
            Walk radius
        </label>
        <input type="text" id="walkradius"/>

        <label for="speed">
            Speed
        </label>
        <input type="text" id="speed"/>

        <input type="checkbox" id="floorchange"/> Change floors
    </div>
</section>